<div class="Weather">

  <h2>Current weather</h2>

  <address>
  	Portland, OR
  </address>

  <div>
  	<strong>
  		{{weather.current_observation.temp_f}}
  		{{weather.current_observation.temp_c}}
  	</strong>
  </div>

</div>
